
export XDG_DATA_DIRS=$XDG_DATA_DIRS:/usr/share:/var/lib/flatpak/exports/share:$HOME/.local/share/flatpak/exports/share

####
## Common aliases
####

alias c='clear'

# List
alias ls='ls --color=auto'
alias la='ls -a'
alias ll='ls -alFh'
alias l='ls'
alias l.="ls -A | egrep '^\.'"
alias listdir="ls -d */ > list"

# Use neovim instead of vim
alias vi="nvim"
alias vim="nvim"
alias gvim="/usr/local/bin/vim"

# Continue download
alias wget="wget -c"

## Colorize the grep command output for ease of use (good for log files)##
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

# Search content with ripgrep
alias rg="rg --sort path"

# Userlist
alias userlist="cut -d: -f1 /etc/passwd | sort"

# Switch between bash and zsh
alias tobash="sudo chsh $USER -s /bin/bash && echo 'Now log out.'"
alias tozsh="sudo chsh $USER -s /bin/zsh && echo 'Now log out.'"

# Git
alias rmgitcache="rm -r ~/.cache/git"
alias lgit="lazygit"

# Check vulnerabilities microcode
alias microcode='grep . /sys/devices/system/cpu/vulnerabilities/*'

# df readable output
alias df='df -h'

# free
alias free="free -mt"

# Hardware info --short
alias hw="hwinfo --short"

# Audio check pulseaudio or pipewire
alias audio="pactl info | grep 'Server Name'"

# Give a list of the kernels installed
alias kernel="ls /usr/lib/modules"
alias kernels="ls /usr/lib/modules"

# Error messages
alias jctl="journalctl -p 3 -xb"
alias sysfailed="systemctl list-units --failed"

# Edit important configuration files
alias edfstab="sudo $EDITOR /etc/fstab"
alias edhosts="sudo $EDITOR /etc/hosts"
alias edhostname="sudo $EDITOR /etc/hostname"
alias edresolv="sudo $EDITOR /etc/resolv.conf"
alias edbash="$VISUAL ~/.bashrc"
alias edzsh="$VISUAL ~/.zshrc"

# Chezmoi
alias cm='chezmoi'
alias cmcd='chezmoi cd'
alias cme='chezmoi edit'
alias cmebash="chezmoi edit ~/.bashrc"
alias cmezsh="chezmoi edit ~/.zshrc"

# List of all installed desktops - xsessions desktops
alias listxsessions="ls /usr/share/xsessions"
alias listwsessions="ls /usr/share/wayland-sessions"

# btrfs aliases
alias btrfsfs="sudo btrfs filesystem df /"
alias btrfsli="sudo btrfs su li / -t"

# ex = EXtractor for all kinds of archives usage: ex <file>
ex ()
{
  if [ -f $1 ] ; then
    case $1 in
      *.tar.bz2)   tar xjf $1   ;;
      *.tar.gz)    tar xzf $1   ;;
      *.bz2)       bunzip2 $1   ;;
      *.rar)       unrar x $1   ;;
      *.gz)        gunzip $1    ;;
      *.tar)       tar xf $1    ;;
      *.tbz2)      tar xjf $1   ;;
      *.tgz)       tar xzf $1   ;;
      *.zip)       unzip $1     ;;
      *.Z)         uncompress $1;;
      *.7z)        7z x $1      ;;
      *.deb)       ar x $1      ;;
      *.tar.xz)    tar xf $1    ;;
      *.tar.zst)   tar xf $1    ;;
      *)           echo "'$1' cannot be extracted via ex()" ;;
    esac
  else
    echo "'$1' is not a valid file"
  fi
}

{{ if eq .chezmoi.osRelease.name "Arch Linux" -}}
####
## Arch Linux specific
####

# pacman & yay
alias pacman='sudo pacman --color auto'
alias pacunlock="sudo rm /var/lib/pacman/db.lck"
alias paclog="bat /var/log/pacman.log"
alias rmpacmanlock="sudo rm /var/lib/pacman/db.lck"
alias dup='sudo yay -Syyu'

# Cleanup orphaned packages
alias cleanup='sudo pacman -Rns $(pacman -Qtdq)'

# This will generate a list of explicitly installed packages
alias paclist="sudo pacman -Qqe"
# This will generate a list of explicitly installed packages without dependencies
alias paclistt="sudo pacman -Qqet"
# list of AUR packages
alias aurlist="sudo pacman -Qqem"

#Recent Installed Packages
alias rip="expac --timefmt='%Y-%m-%d %T' '%l\t%n %v' | sort | tail -200 | nl"
alias riplong="expac --timefmt='%Y-%m-%d %T' '%l\t%n %v' | sort | tail -3000 | nl"

# get fastest mirrors in your neighborhood
alias mirror="sudo reflector -f 30 -l 30 --number 10 --verbose --save /etc/pacman.d/mirrorlist"
alias mirrord="sudo reflector --latest 30 --number 10 --sort delay --save /etc/pacman.d/mirrorlist"
alias mirrors="sudo reflector --latest 30 --number 10 --sort score --save /etc/pacman.d/mirrorlist"
alias mirrora="sudo reflector --latest 30 --number 10 --sort age --save /etc/pacman.d/mirrorlist"
#experimental - best option for the moment
alias mirrorx="sudo reflector --age 6 --latest 20  --fastest 20 --threads 5 --sort rate --protocol https --save /etc/pacman.d/mirrorlist"

# show the list of packages that need this package - depends mpv as example
function_depends()  {
    search=$(echo "$1")
    sudo pacman -Sii $search | grep "Required" | sed -e "s/Required By     : //g" | sed -e "s/  /\n/g"
    }
alias depends='function_depends'

{{ else if eq .chezmoi.osRelease.name "NixOS" -}}
####
## NixOS specific
####

alias nrun='nix-shell -p $1'
alias nswitch='sudo nixos-rebuild switch'
alias cleanup='sudo nix-collect-garbage -d && nix-collect-garbage -d'
alias cleanup-dryrun='sudo nix-collect-garbage -d --dry-run && nix-collect-garbage -d --dry-run'

alias dup='sudo nixos-rebuild switch --upgrade'

{{- end -}}
